@charset "UTF-8";


/* Tabela de cores Mobile:
    Roxo azulado: #2C1BDB
    Roxo Escuro: #3D33B1
    Azul Meio Escuro: #1A48DB
    Roxo Escuro azulado: #2A1ADB

*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Corpo principal */

body{
    backdrop-filter: blur(6px);
    background-image: url(../midias/imagens/teste-fundo-mobile-2.jpg);
    background-attachment: fixed;
}

html{
    
}

header{
    display: grid;
    justify-content: center;
    align-items: center;
}


/* Configuração para tegs globais */
main > h1, h2{
    text-align: center;
}
/*--------------------------------*/

main#principal{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 3px;
    display: grid;
    justify-content: center;
}

nav#principal{
    width: 100%;
    position: sticky;
    top: 0%;
}

/* Itens do Nav */

span#menu-mobile{
    display: grid;
    background-image: linear-gradient(to left,  #2b1bdb5d, #1A48DB5d);
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

span#menu-mobile > div.line{
    display: block;
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
}

nav#list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
}

nav#list > ul#list-options{
    list-style: none;
    text-align: center;
}

nav#list > ul#list-options > li{
    padding: 4px;
    margin: 3px;
    width: 200px;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to left, #1a47db69, #2A1ADB69);
    display: flex;
    align-items: center;
    justify-content: center;

    /* teste de animação */

    animation-name: testeFrame;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    

}

nav#list > ul#list-options > li > p{
    text-align: right;
}



.icons{
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 10px;
}

#icon-linkedin{
    height: 25px;
}


/* Animação para li de #list-options, DOM-click */

@keyframes testeFrame {
    0%{
        transform: translateY(-700%);
    }

    100%{
        transform: translateY(0%);
    }
}

/*---------------------------------------------*/

/*--------------------------------------------------------------------*/